.grid {
	.related-title {
		margin-top: -96px;
		margin-bottom: 40px;
		margin-left: 40px;
	}

	.blog-card {
		display: grid;
		gap: $spacing_eight;
		margin-top: $spacing_seven;

		&.archives {
			gap: $spacing_seven !important;

			@media (min-width: $breakpoint-md) {
				grid-template-columns: repeat(3, 1fr) !important;
			}

			@media (min-width: $breakpoint-lg) {
				grid-template-columns: repeat(4, 1fr) !important;
			}
		}

		.card-img {
			margin-bottom: $spacing_five;
			border: 1px solid var(--grey_light);
		}

		&.related {
			@media (min-width: $breakpoint-sm) {
				grid-template-columns: repeat(1, 1fr);
			}

			@media (min-width: $breakpoint-md) {
				grid-template-columns: repeat(2, 1fr);

				a {
					display: flex;
				}

				.card-img {
					max-width: 120px;
					min-width: 120px;
					height: 120px;
					overflow: hidden;

					img {
						border-style: none;
						height: 120px;
						width: 100%;
						object-fit: cover;
					}
				}

				.card-txt {
					margin-left: 16px;
				}

				margin-bottom: 64px;

				.cards {
					a {
						display: flex;
					}

					.card-img {
						max-width: 200px;
						min-width: 200px;
						height: 140px;
						overflow: hidden;

						img {
							height: 160px;
							width: 100%;
							object-fit: cover;
						}
					}

					.card-txt {
						margin-left: 48px;
					}

					h3 {
						font-size: 20px;
					}

					&.first {
						a {
							display: block;
						}

						.card-img {
							max-width: 320px;
							min-width: 320px;
							height: 320px;
							overflow: hidden;

							img {
								border-style: none;
								height: 320px;
								width: 100%;
								object-fit: cover;
							}
						}

						.card-txt {
							margin: $spacing_four 0 0 0;
							max-width: 400px;
						}

						h3 {
							font-size: 24px;
						}
					}
				}
			}
		}

		@media (min-width: $breakpoint-sm) {
			grid-template-columns: repeat(2, 1fr);
		}

		.archive {
			&.cards {
				transition-duration: 400ms;

				.card-img {
					height: 280px;
					border-radius: 6px;

					img {
						height: 100%;
					}
				}

				.s {
					display: block !important;
				}

				.card-txt {
					.main-txt {
						text-align: left;
					}

					h3 {
						font-size: 18px;
						line-height: 24px;
						max-width: 100%;
					}
				}
			}
		}

		h2 {
			font-size: 24px;
			line-height: 40px;
			text-align: center;
		}

		ul {
			padding: 0;
			list-style: none;
			display: flex;
			gap: $spacing_two;

			li {
				line-height: 14px;
				font-size: 12px;
				color: var(--grey_med);
				text-transform: uppercase;
			}

			.d {
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;
				font-size: 18px;
				color: var(--grey_med);
				max-width: 90%;
			}
		}

		.cards {
			transition: all 0.4s ease;
			overflow: hidden;

			a {
				text-decoration: none;
			}

			.card-img {
				width: 100%;
				height: 50vh;
				overflow: hidden;
				border-radius: 12px;

				img {
					border-style: none;
					width: 100%;
					object-fit: cover;
					height: 50vh;
				}
			}

			.card-txt {
				box-sizing: border-box;

				.main-txt {
					overflow: hidden;
					position: relative;
					box-sizing: border-box;

					.d {
						overflow: hidden;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						text-overflow: ellipsis;
						font-size: 18px;
						color: var(--grey_med);
						max-width: 90%;
					}
				}

				.s {
					margin-top: 16px;
					font-size: 13px;
					line-height: 20px;
					overflow: hidden;
					height: unset;
					display: none;

					span {
						color: var(--orange);
						font-weight: bold;
					}
				}
			}

			.btm {
				display: flex;
				justify-content: space-between;
				margin: 16px 16px 0 16px;
				padding-bottom: 16px;

				.ath {
					display: flex;
					align-items: center;

					img {
						border-style: none;
						width: 24px;
						object-fit: cover;
						height: 24px;
						border-radius: 12px;
						margin: 0;
					}
				}
			}

			h3 {
				margin: 0 0 8px 0;
				font-size: 32px;
				line-height: 40px;
				font-weight: 800;
				max-height: 64px;
				max-width: 80%;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				text-overflow: ellipsis;

				span {
					background-color: unset;
				}
			}

			p {
				padding: 0;
				color: var(--grey_med);
				font-size: 15px;
				line-height: 25px;
			}

			a {
				padding: 0;

				&:hover {
					text-decoration: none;
				}
			}

			&:hover,
			:focus {
				transform: scale(1.02);

				h3 {
					span {
						background-color: var(--yellow);
					}
				}
			}
		}
	}
}
