body {
	.case-img {
		width: 100%;
		height: 240px;
		object-fit: cover;
		margin: 32px 0 8px 0;
		border: 1px solid $grey_light_2;

		@media (min-width: $breakpoint-xs) {
			height: 400px;
		}
	}

	.top-info {
		max-width: $breakpoint-md;
		margin: auto;

		img {
			width: 100%;
			margin-top: 48px;
		}

		.tldr {
			max-width: $breakpoint-md;
			margin-top: 24px;
			margin-bottom: 24px;

			p {
				font-size: 18px;
			}
		}
	}

	section {
		.float-container {
			transition: all 0.4s ease;
			padding: 0;
			z-index: 1;
			left: 8px;

			@media (min-width: 768px) {
				right: 24px;
			}

			@media (min-width: 1380px) {
				&.left {
					float: left;
					margin-left: calc(((100% - 1092px) / 2) - 80px);
				}

				&.right {
					float: right;
					margin-right: calc(((100% - 1092px) / 2) - 80px);
				}

				.float {
					border-top: 4px solid $orange;
				}

				position: fixed;
				top: 120px;
				flex-direction: column;
				position: sticky;
				padding: 16px;
				max-width: calc((1280px - 800px) / 2);

				a {
					margin: 8px auto 0 auto;
				}
			}
		}

		.soc-float {
			position: fixed;
			bottom: 4px;
			display: flex;
			background-color: $white_off;
			transition: all 0.4s ease;
			padding: 8px;
			z-index: 1;
			right: 4px;

			p {
				margin: 0;
				color: $grey_concrete;
				font-size: 14px;
			}

			a {
				margin: 0 8px;
				padding: 0;
				text-decoration: none;
				line-height: 0px;

				img {
					font-size: 12px;
					box-sizing: border-box;
					display: block;
					filter: contrast(0) invert(18%) sepia(86%) saturate(775%)
						hue-rotate(258deg) brightness(25%) contrast(90%);

					&:hover {
						filter: none;
					}
				}
			}

			&:hover {
				filter: none;
			}

			@media (min-width: 768px) {
				right: 24px;
			}

			@media (min-width: 1380px) {
				position: unset;
				flex-direction: column;
				padding: 16px;
				margin-bottom: 24px;
				margin: 8px;

				a {
					margin: 8px auto 0 auto;
				}
			}
		}

		.case {
			padding: 4px 16px;
			max-width: 600px;
			margin-bottom: 64px;
			position: relative;
			background-color: $white_off;

			h2,
			h3,
			h4,
			h5,
			h6,
			a,
			p,
			ul {
				max-width: 640px;
				margin-left: auto !important;
				margin-right: auto !important;
			}

			figure {
				figcaption {
					font-style: italic;
					color: $grey_stone;
					margin: 0 0 32px 0;
					font-size: 13px;
					line-height: 23px;
				}

				a {
					padding: 0;
					font-size: 13px;
				}
			}

			p,
			a,
			ul {
				font-size: 16px;
				margin: 16px 0;
				line-height: 28px;

				a {
					display: inline;
					margin: 0;
					padding: 0;
				}

				li {
					list-style: outside;
				}
			}

			blockquote {
				margin: 24px;
				border-left: 4px solid $orange;

				p {
					color: $orange;
					font-weight: bold;
					line-height: 32px;

					span {
						color: $grey_concrete;
						font-weight: 400;
						font-style: italic;
						font-size: 14px;
					}
				}
			}

			@media (min-width: $breakpoint-sm) {
				margin: -320px auto 64px auto;

				li {
					p {
						padding: 0;
					}
				}
			}
		}
	}
}
