.fox {
	position: absolute;
	top: 56px;
	right: calc(32% - 80px);
	z-index: -1;
	transform: rotate(180deg);

	img {
		height: 120px;
	}
}

.gibbon {
	position: absolute;
	top: 56px;
	right: 32%;
	z-index: -1;

	img {
		height: 120px;
	}
}

.me {
	max-width: 100%;
}
