.fox {
	right: calc(20% - 80px);
	transform: rotate(180deg);

	img {
		height: 120px;
	}
}

.gibbon {
	right: 20%;

	img {
		height: 120px;
	}
}

.me {
	max-width: 100%;
}

.fox, .gibbon {
	filter: $icon_filter;
	z-index: 2;
	display: none;
	top: 16px;
	position: absolute;
	transition: top 1.6s;

	&:hover, &:focus-within {
		filter: none;
		cursor: pointer;
		top: 56px;
	}

	@media (min-width: $breakpoint-xs) {
		display: block;
	}
}
