.fox {
	position: absolute;
	top: 56px;
	right: calc(20% - 80px);
	z-index: -1;
	transform: rotate(180deg);

	img {
		height: 120px;
	}
}

.gibbon {
	position: absolute;
	top: 56px;
	right: 20%;
	z-index: -1;

	img {
		height: 120px;
	}
}

.me {
	max-width: 100%;
}

.fox, .gibbon {
	filter: brightness(0);
	z-index: 2;
	display: none;

	&:hover {
		filter: none;
		cursor: pointer;
	}

	@media (min-width: $breakpoint-xs) {
		display: block;
	}
}
