.categories {
	a {
		padding: 0;
		margin-right: 16px;
		line-height: 24px;
		text-transform: capitalize;

		&[aria-current="page"] {
			color: $grey_concrete;
			cursor: auto;

			&::before {
				content: none;
			}
		}
	}
}

