body {
	&.inner {
		background-color: $white_off;

		section {
			display: block;

			&.bg {
				background-color: $white;

				.grid {
					margin-bottom: 0;
				}
			}

			.time {
				font-size: 14px;
				color: $grey_med;

				span {
					color: $orange;
					font-weight: bold;
				}
			}

			.title {
				color: $black_jet;
				font-weight: bold;
				margin-top: 24px;
				word-wrap: break-word;
			}

			.sec-title {
				color: $orange;
				font-weight: 600;
				font-size: 40px;
				line-height: 64px;
			}

			.sec-txt {
				p {
					@media (min-width: 992px) {
						padding-right: 24px;
					}
				}
			}

			.rec-title {
				color: $black_jet;
				font-weight: 600;
				font-size: 32px;
				line-height: 56px;
				text-align: center;
			}

			li {
				margin: 8px 0;
			}

			p,
			li {
				color: $grey_med;
			}

			ul {
				list-style: none;
			}

			.grid {
				margin: 32px auto;
				max-width: 1280px;
				padding: 16px;

				.ul-f {
					img {
						padding-bottom: 16px;
					}

					border: 1px solid $grey_light;
					padding: 16px;
					margin: 8px;
					border-radius: 8px;

					li {
						padding: 6px 0;
					}

					.hlght {
						color: $grey_med;
						margin-bottom: 16px;
						line-height: 40px;
					}

					&.h {
						display: flex;

						img {
							padding-bottom: 0;
							padding-right: 16px;
						}
					}
				}

				.ul-s {
					display: flex;
					flex-wrap: wrap;

					li {
						border: none;
						margin: 0 8px 0 0;
						padding: 4px 0;
						list-style: none;
						color: $black_dusty;
						background: $yellow;
						font-size: 14px;
						text-transform: capitalize;
					}
				}
			}
		}
	}
}
