@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

h1,h2,h3,h4,h5,h6 {
	font-family: 'Montserrat', sans-serif;
}

a, p {
	font-family: 'Cabin', sans-serif;
}

h1 {
	font-size: 40px;
	line-height: 56px;
	padding-bottom: 16px;
	color: $white;
	margin: 8px 0;

	@media (min-width: $breakpoint-xl) {

		font-size: 64px;
		line-height: 72px;
	}
}

h2 {
	font-size: 24px;
	line-height: 26px;
	margin: 8px 0;
	color: $black_jet;
	letter-spacing: 0.4px;
}

h3 {
	font-size: 16px;
	line-height: 24px;
	margin: 8px 0;
	color: $black_jet;
	letter-spacing: 0.3px;
}

p {
	font-size: 16px;
	line-height: 24px;
	color: $grey_slate;
	margin: 8px 0;
	letter-spacing: 0.2px;
}

a {
	text-decoration: none;
	font-size: 16px;
	color: $voilet_blue;
	padding: 16px 0;

	&:hover {
		text-decoration: underline;
		color: $voilet_dark;
	}
}

span {
	color: orange;
}
