---
title: Homepage
description: Browse homepage
layout: layouts/base.njk
js: filter.js
---

<section id="main">
	<div class="grid">
		<p>Devlog</p>
		<h1 class="title">Game On.</h1>
		<p class="top">All of my devlogs are below, click the buttons to filter by category.</p>
		<br>
		<div id="myBtnContainer">
			<button class="btn active" onclick="filterSelection('all')">All posts</button>
			<button class="btn" onclick="filterSelection('unity')">Unity</button>
			<button class="btn" onclick="filterSelection('design')">Design</button>
			<button class="btn" onclick="filterSelection('development')">Development</button>
			<button class="btn" onclick="filterSelection('other')">Other</button>
		</div>
	</div>
</section>
<section>
	<div class="grid">
		<div class="row blog-card">
			{% for post in collections.post | reverse %}
				{% if loop.index0 < 3 %}
				<div class="col-12-xs col-12-sm col-6-md col-4 fd
					{% for tag in post.data.tags %}
						{% if tag !== 'post' %}
							<li>{{ tag }}</li>
						{% endif %}
					{% endfor %}
				">
					<article class="cards">
						<a href="{{ post.url }}">
							<ul class="cat">
								{% for tag in post.data.tags %}
									{% if tag !== 'post' %}
										<li>{{ tag }}</li>
									{% endif %}
								{% endfor %}
							</ul>
							<div class="card-img">
								<img src="{{ post.data.image }}">
							</div>
							<div class="card-txt">
								<div class="main-txt">
									<p class="s">{{ post.data.date }}</p>
									<h3>{{ post.data.title }}</h3>
									<p class="d">{{ post.data.tldr }}</p>
								</div>
							</div>
						</a>
					</article>
				</div>
				{% endif %}
			{% endfor %}
   		</div>
  	</div>
</section>
<div class="fox"><img src="/static/images/fox.svg"></div>
<div class="gibbon"><img src="/static/images/gibbon.svg"></div>
