---
title: Latest Posts.
description: Latest Fox Gibbon posts about design and tech.
layout: layouts/base.njk
pagination:
  data: collections.post
  size: 10
  alias: posts
---

{% include "postsTitle.njk" %}
{% set posts = posts | reverse %}
{% include "posts.njk" %}
{% include "pagination.njk" %}
<div class="fox"><img src="/static/images/fox.svg"></div>
<div class="gibbon"><img src="/static/images/gibbon.svg"></div>
