---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
  addAllPagesToCollections: true
layout: layouts/base.njk
eleventyComputed:
  title: Posts about {{ tag }}
permalink: /tags/{{ tag }}/
---

{% include "postsTitle.njk" %}
{% set posts = collections[tag] | reverse %}
{% include "posts.njk" %}
