<footer>
	<div class="footers-top">
		<div class="footers-inner">
			<div class="logo">
				<a href="/"><img height="64px" src="/static/images/nav/icon.svg"></a>
			</div>
			<div class="links">
				<ul>
					<li class="a-h">Pages</li>
					<li><a href="/">Devlog</a></li>
					<li><a href="/about/">About</a></li>
				</ul>
			</div>
			<div class="links">
			<ul>
				<li class="a-h">Categories</li>
				{% for tag in collections.tagsList %}
				{% if tag !== 'post' %}
				<li><a href="/tags/{{tag}}/">{{tag}}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
			</div>
			<div>
				<a href="https://twitter.com/FoxGibbon"><img src="/static/images/twitter.svg"></a>
			</div>
		</div>
	</div>
	<div class="footers-bottom">
		<div class="footers-inner">
			<p>Congrats. You made it to the bottom of the page.</p>
		</div>
	</div>
</footer>
