<footer>
	<div class="footers-top">
		<div class="footers-inner">
			<div class="logo">
				<a href="/"><img height="48px" src="/static/images/nav/icon.svg"></a>
				<p>FoxGibbon is your source for design news &amp; tutorials. Whether professional or enthusiast, it is a place to find information, source inspiration &amp; seek help.</p>
			</div>
			<div class="links">
				<ul>
					<li class="a-h">Pages</li>
					<li><a href="/" title="Latest posts - Design news & tutorials">Latest</a></li>
					<li><a href="/about/" title="About the project">About</a></li>
					<li><a href="/reading/" title="Reading list for designers">Reading List</a></li>
					<li><a href="/release/" title="Project updates and roadmap">Release Notes</a></li>
					<li><a href="/feed/feed.xml" title="RSS feed">RSS feed</a></li>
				</ul>
			</div>
			<div class="links">
			<ul>
				<li class="a-h">Categories</li>
				{% for tag in collections.tagsList %}
				{% if tag !== 'post' %}
				<li><a href="/tags/{{tag}}/">{{tag}}</a></li>
				{% endif %}
				{% endfor %}
			</ul>
			</div>
			<div>
				<a class="soc-svg" href="https://twitter.com/FoxGibbon" title="FoxGibbon Twitter page"><img src="/static/images/twitter.svg"></a>
				<a class="soc-svg" href="/feed/feed.xml" title="FoxGibbon RSS feed"><img src="/static/images/rss.svg"></a>
			</div>
		</div>
	</div>
	<div class="footers-bottom">
		<div class="footers-inner">
			<p>&copy; FoxGibbon. All rights reserved.</p>
		</div>
	</div>
</footer>
