<a href="#main" class="access-skip" tabindex="1">Skip to main content</a>
<header class="nav-out" aria-label="Main Navigation">
	<div class="nav">
		<nav>
			<ul class="nav-links">
				<li><a
				{% if page.url == "/" %}
					aria-current="page"
				{% endif %}
				href="/">Latest</a></li>
				<li><a
				{% if page.url == "/about/" %}
					aria-current="page"
				{% endif %}
				href="/about/">About</a></li>
			</ul>
		</nav>
		<a href="/">
			<div class="logo">
				<img src="/static/images/nav/logo-full.svg">
			</div>
			<div class="icon">
				<img src="/static/images/nav/icon.svg">
			</div>
		</a>
		<div class="social">
			<a href="https://twitter.com/FoxGibbon"><img class="soc-svg" src="/static/images/twitter.svg"></a>
		</div>
	</div>
</header>
