<section id="main">
	<div class="grid">
		<div class="categories">
		<a href="/archive/"
		{% if page.url == "/archive/" %}
			aria-current="page"
		{% endif %}
		>all</a>
		{% for category in collections.categories %}
			<a href="/categories/{{ category.slug }}/"
			{% if category.title in page.url %}
				aria-current="page"
			{% endif %}
			>{{ category.title }}</a>
		{% endfor %}
		</div>
	</div>
</section>
