<section>
	<div class="grid">
		<div class="row blog-card">
		{% for post in posts %}
		{% if posts[0].data.title == post.data.title %}
		<div class="col-12-xs col-12-sm col-9-md col-9 main">
			<article class="cards">
				<a href="/posts/{{ post.data.name }}">
					<ul class="cat">
						{% for tag in post.data.tags %}
							{% if tag !== 'post' %}
								<li>{{ tag }}</li>
							{% endif %}
						{% endfor %}
					</ul>
					<div class="card-img">
						<img src="{{ post.data.image }}">
					</div>
					<div class="card-txt">
						<div class="main-txt">
							<p class="s">{{ post.data.date | postDate }}</p>
							<h3>{{ post.data.title }}</h3>
							<p class="d">{{ post.data.tldr }}</p>
						</div>
					</div>
				</a>
			</article>
		</div>
		{% endif %}
		{% if posts[0].data.title !== post.data.title %}
			<div class="col-12-xs col-6-sm col-4-md col-3">
				<article class="cards">
					<a href="/posts/{{ post.data.name }}">
						<ul class="cat">
							{% for tag in post.data.tags %}
								{% if tag !== 'post' %}
									<li>{{ tag }}</li>
								{% endif %}
							{% endfor %}
						</ul>
						<div class="card-img">
							<img src="{{ post.data.image }}">
						</div>
						<div class="card-txt">
							<div class="main-txt">
								<p class="s">{{ post.data.date | postDate }}</p>
								<h3>{{ post.data.title }}</h3>
								<p class="d">{{ post.data.tldr }}</p>
							</div>
						</div>
					</a>
				</article>
			</div>
		{% endif %}
		{% endfor %}
   		</div>
  	</div>
</section>
