//<a class="a-button" id="a-button-theme"><img class="soc-svg" src="/static/images/brightness.svg"></a>

/*breakpoints*/
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1300px;
$breakpoint-xl: 1760px;
$breakpoint-lx: 2200px;

/*colours*/
$black_dusty: #fff;
$black_jet: #f7f8f6;
$grey_concrete: #e7e7e7;
$grey_light_1: #444;
$grey_light_2: #808080;
$grey_med: #a3a49e;
$grey_slate: #f3f3f3;
$grey_stone: #bebebe;
$white: #1c1c1c;
$white_off: #363537;
$white_light: #464547;
$voilet_blue: #81cdf0;
$voilet_dark: #4bb8e9;
$pink_dark: #f68ddc;
$orange: #ed6a5a;
$orange_light: #fbb040;
$yellow: #ed6a5a;

/*borders*/
$border-light: 1px $grey_light_2 solid;
$border-medium: 1px $grey_concrete solid;
$border-bold: 1px $grey_slate solid;
$border-heavy: 2px $grey_slate solid;

/*shadow*/
$box-shadow-one: 0 2px 4px $grey_med;
$box-shadow-two: 0 3px 6px $grey_med;
$box-shadow-three: 0 6px 12px $grey_med;
$box-shadow-four: 0 9px 18px $grey_med;

/*radius*/
$radius_sm: 4px;
$radius_md: 8px;
$radius_lg: 16px;
$radius_full: 50%;

/*spacing variables*/
$spacing_one: 4px;
$spacing_two: 8px;
$spacing_three: 12px;
$spacing_four: 16px;
$spacing_five: 24px;
$spacing_six: 32px;
$spacing_seven: 48px;
$spacing_eight: 64px;
$spacing_nine: 96px;
$spacing_ten: 128px;
//defined further in spacing.scss

$filter: none;
$logo_filter: contrast(0) brightness(10) !important;
$icon_filter: contrast(0) brightness(10);
