//<a class="a-button" id="a-button-theme"><img class="soc-svg" src="/static/images/brightness.svg"></a>

/*breakpoints*/
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1300px;
$breakpoint-xl: 1760px;
$breakpoint-lx: 2200px;

/*colours*/
$black_dusty: #e2dfdc;
$black_jet: #c9c6c3;
$grey_med: #bcb8c4;
$grey_light: #808080;
$white_off: #1e253d;
$white: #141829;
$orange: #4bb8e9;
$pink_dark: #f68ddc;
$orange: #ed6a5a;
$yellow: #fcebb224;

/*borders*/
$border-light: 1px $grey_light solid;
$border-medium: 1px $grey_med solid;
$border-bold: 1px $black_jet solid;
$border-heavy: 2px $black_jet solid;

/*shadow*/
$box-shadow-one: 0 2px 4px $grey_light;
$box-shadow-two: 0 3px 6px $grey_light;
$box-shadow-three: 0 6px 12px $grey_light;
$box-shadow-four: 0 9px 18px $grey_light;

/*radius*/
$radius_sm: 4px;
$radius_md: 8px;
$radius_lg: 16px;
$radius_full: 50%;

/*spacing variables*/
$spacing_one: 4px;
$spacing_two: 8px;
$spacing_three: 12px;
$spacing_four: 16px;
$spacing_five: 24px;
$spacing_six: 32px;
$spacing_seven: 48px;
$spacing_eight: 64px;
$spacing_nine: 96px;
$spacing_ten: 128px;
//defined further in spacing.scss

$filter: brightness(5);
