---
layout: layouts/base.njk
js: read
---

<section>
	<div class="grid">
		<p class="bc"><a href="/">Devlog</a> › {{ name }}</p>
		<h1 class="title">{{ title }}</h1>
		<ul class="ul-s">
			<li>{{ time }}</li>
			{% for tag in tags %}
				{% if tag !== 'post' %}
					<li>{{ tag }}</li>
				{% endif %}
			{% endfor %}
		</ul>
		<div class="float-container right">
			{% if tldr %}
			<div class="float">
				<h4>TLDR</h4>
				<p>{{ tldr }}</p>
			</div>
			{% endif %}
			{% if related %}
			<div class="float">
				<h4>Related Links</h4>
				<ul>
				{% for link in related %}
				<li>{{ link }}</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
		<div class="float-container left">
			<div class="soc-float">
				<a href="https://twitter.com/share?url=https://foxgibbon.com/post/{{ name }}"><img src="/static/images/twitter.svg"></a>
			</div>
			{% if thoughts %}
			<div class="float">
				<h4>Thoughts</h4>
				<p>{{ thoughts }}</p>
			</div>
			{% endif %}
		</div>
		<div class="grid">
			<article class="case">
				{{ content | safe }}
			</article>
		</div>
	</div>
</section>
<div id="reading-progress"><div id="reading-progress-fill"></div></div>
{% set posts = collections[tags[1]] | related(page.url) %}
{% include "posts-related.njk" %}
